.form-editor {
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

.text-edit-label {
    margin-top: 70px;
    margin-left: 10%;
}

.btn-edit {
    float: right;
    margin-top: 30px;
}