.form_box {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-login{
    margin-top: 5%;
}

.login-title {
    margin-left: 30%;
}

.dialog-sai {
    width: 434px;
}